.header{
        display: flex;
        /* background-color: #98D7C2; */
        justify-content: space-between;
        border-bottom: 2px solid #2E765E;
        width:100%;
        border-radius: 5px;
        background: #34e89e; /* fallback for old browsers */
        background: -webkit-linear-gradient(to left, #34e89e, #0f3443); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to left, #34e89e, #0f3443);
}

.logo{
        width: 100px;
        border-radius: 50%;
        margin: 10px;
}
.nav-items {
    padding: 5px;
    margin-right: 30px;
    
}
.nav-items >ul{
    display: flex;
    list-style-type: none;
    padding: 10px;
}
.nav-items >ul >li{
    padding: 2px;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    color: #2E765E;
    cursor: pointer;
}



.body{
    display: flex;
    border:none;
    background: white;
    width: 100%;
    flex-direction: column;
    height: 100%;
    border-radius: 5px; 
}
.filter-btn{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #DDFFE7;
    background: #34e89e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #34e89e, #0f3443); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #34e89e, #0f3443);
    cursor: pointer;
}
.reset-btn{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #DDFFE7;
    background: #34e89e; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #34e89e, #0f3443); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #34e89e, #0f3443);
    cursor: pointer;
}

.reset-btn:hover{
    background-color: #B6E2D3;
}

.filter-btn:hover{
    background-color: #B6E2D3;
}

.search-bar{
    padding:10px;
    display: flex;

    width:100vw;
    height:3vh;
}

.res-container{
    display:flex;
    flex-wrap:wrap;
}

h4{
    margin-block-start: 0.4em;
    margin-block-end: 0.4em;
}
h3{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.res-card{
    border: 2px solid #2E765E;
    border-radius: 5px;
    background-color: #f0f0f0;
    width:190px;
    padding:5px;
    cursor: pointer;
    margin:5px;
    height: 60vh;
    justify-content: space-evenly;
}
.res-card:hover{
    background-color: #B6E2D3;
    cursor: pointer;
}

.res-logo{
    width:185px;
    margin:5px;
    height: 150px;
     border-radius: 10px;

}